<extend name="common/common"></extend>
<block name="body">
<div class="x-body">
    <blockquote class="layui-elem-quote">
        <span class="x-gray">鉴于数据量大，每次导入不超过200条</span>
        <a href="<{:url('lottery/drmb')}>" style="color: blue">下载导入模版</a>
        <br />
        <a href="<{:url('lottery/nolog')}>" style="color: blue">下载没有物流的数据</a>
    </blockquote>
    <form action="<{:url('lottery/do_import')}>" method="post" enctype="multipart/form-data" class="layui-form">
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red"></span>文件上传
            </label>
            <div class="layui-input-inline">
                <input type="file" name="temp"/>
                <div>

                </div>
            </div>
            <div class="layui-form-item">

            </div>
            <div class="layui-form-item">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="layui-btn">上传</button>
            </div>
    </form>
</div>
</block>
